<div class="dashboard-container">
  
  <header class="dashboard-header">
    <h1>Bienvenido, {{ userName }}</h1>
    <p>Selecciona un grupo para gestionar sus tickets:</p>
  </header>

  <div class="cards-wrapper" *ngIf="canViewGruop">
    
    <p-card *ngFor="let grupo of grupos" styleClass="custom-card">
      
      <ng-template pTemplate="title">
        <div class="card-title">{{ grupo.nombre }}</div>
      </ng-template>
      
      <ng-template pTemplate="subtitle">
        <div class="card-subtitle">{{ grupo.descripcion }}</div>
      </ng-template>

      <ng-template pTemplate="footer">
        <div class="card-footer">
          <p-tag
            [value]="grupo.estado"
            [styleClass]="'custom-tag ' + grupo.tagClass">
          </p-tag>
          
          <p-button 
            label="Entrar al Dashboard" 
            icon="pi pi-external-link" 
            styleClass="custom-btn"
            (onClick)="seleccionarGrupo(grupo)">
          </p-button>
        </div>
      </ng-template>

    </p-card>

    <div class="nav-arrow">
      <i class="pi pi-chevron-right text-xl"></i>
    </div>

  </div>

</div>